.main-flow {
  position: absolute;
  width: 100%;
  height: 70%;
}
.center-flow {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
}
.center-straight-flow {
  position: absolute;
  width: 100%;
  height: 45%;
  top: 28%;
}

.side-flow1 {
  height: 15%;
  top: 15%;
}
.side-flow2 {
  height: 15%;
  top: 69%;
}
.config-box{
  margin: 2rem;
  border: 2px solid blue;
}