body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,30,1);
}

.pipe {
  position: relative;
  width: 1000px;
  height: 501.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(pipe_rear.svg) no-repeat center;
}

.pipe-front {
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events : none;
}

.main-flow {
  position: absolute;
  width: 100%;
  height: 70%;
}
.center-flow {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
}
.center-straight-flow {
  position: absolute;
  width: 100%;
  height: 45%;
  top: 28%;
}

.side-flow1 {
  height: 15%;
  top: 15%;
}
.side-flow2 {
  height: 15%;
  top: 69%;
}
.config-box{
  margin: 2rem;
  border: 2px solid blue;
}